@using Task_Asp1.Models

@model List<User>


<table>
    <tr>
        <th>Full Name</th>
        <th>Adress</th>
        <th>Email</th>
        <th>Age</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.Adress</td>
            <td>@item.Email</td>
            <td>@item.Age</td>
        </tr>
    }
</table>